/* Retro-styling, along with NES.css */
@font-face {
    font-family: 'Press Start 2P';
    src: url('../font/ps2p.ttf') format('truetype');
}
  
h1, p {
    font-family: 'Press Start 2P';
}

/* Sticky header */
#header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-left: 1em;
}

/* Setup flexbox on main, non-footer, non-header box. */
#wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: center;
    align-items: stretch;
    min-height: 300px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* The game renders in this box */
#gameWrapper {
    flex-grow: 4;
}

/* Right-hand game menu */
#gameMenu {
    flex-grow: 1;
    margin-left: 1em;
}